PORT=3000
SQLITE_PATH=
WHATSAPP_NUMERO=5491112345678
TRANSFER_ALIAS=mi.alias.real
TRANSFER_CBU=0000003100099999999999
TRANSFER_TITULAR=Nombre Apellido
ADMIN_PASSWORD=admin123
ADMIN_SESSION_SECRET=cambia_esta_clave
